body {
    width: 100%;
    height: 100%;
}

#transferDeposit_fileList_table, #upload_fileList_table {
    display: none;
}

#upload_fileList_table .progress-bar {
    height: 1em;
}

.parent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.5fr) repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent > .div1,
.parent > .div2,
.parent > .div3 {
    background-color: rgba(255, 255, 255, 0.5);
}

.parent > .div3 {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    overflow-y: auto;
}

.parent > .div1 {
    grid-area: 1 / 2 / 3 / 6;
}

.parent > .div2 {
    grid-area: 1 / 1 / 9 / 2;
}

.parent > .div3 {
    grid-area: 3 / 2 / 9 / 6;
}

.parent > .div4 {
    grid-area: 2 / 2 / 3 / 5;
}

.parent > .div5 {
    grid-area: 2 / 5 / 3 / 6;
}

.parent > .div6 {
    grid-area: 1 / 2 / 2 / 3;
}

.parent > .div7 {
    grid-area: 1 / 3 / 2 / 4;
}

.parent > .div8 {
    grid-area: 1 / 4 / 2 / 5;
}

.parent > .div9 {
    grid-area: 1 / 5 / 2 / 6;
}

.status_bar {
    float: right;
}