
body {
    animation: gradientBG 15s;
}

@keyframes show_parent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.parent {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    animation: show_parent 2s ease-in-out forwards;
}

.div1 {
    grid-area: 2 / 2 / 5 / 5;
}